body{
    background: #282e3a;
    font-family: tahoma;
}
h1{
    color: #fff;
    text-align: center;
    font-size: 50px;
    letter-spacing: 10px;
}
img.home{
    position: relative;
    top: 125px;
    left: 200px;
}
img.away{
    position: absolute;
    top: 430px;
    left: 1320px;
}
#del-countdown{
    width: 1500px;
    margin: 15% auto;
}
#clock span{
    float: left;
    text-align: center;
    font-size: 84px;
    margin: 0 2.5%;
    color: #fff;
    padding: 20px;
    width: 20%;
    border-radius: 20px;
    box-sizing: border-box;
}
#clock span:nth-child(1){
    background: crimson;
}
#clock span:nth-child(2){
    background: gold;
}
#clock span:nth-child(3){
    background: black;
}
#clock span:nth-child(4){
    background: darkred;
}
#clock:after{
    content: "";
    display: block;
    clear: both;
}
#units span{
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 30px;
    color: #ddd;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px rgba(10,10,10, 0.7);
}

span.turn{
    animation: turn 0.7s ease forwards;
}

@keyframes turn{
    0%{transform: rotateX(0deg)}
    100%{transform: rotateX(360deg)}
}